<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>

    <!-- <script src="../views/layouts/index.handlebars"></script> -->
    <!-- handlebars cdn -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>

    {{!-- <link rel="stylesheet" type="text/css" href="../assets/css/burger_style.css"> --}}
		

    <title>Burger</title>
</head>
<body>
    <div class="jumbotron">
      <h1 class="display-4">Eat-Da-Burger</h1>
       <p class="lead">Add a burger to the menu.</p>
      <hr class="my-4">
      <form>
        <div class="form-group">
          <label for="burgerForm">Add a new burger</label>
          <input type="text" class="form-control form-control-lg" id="burgerForm" aria-describedby="add-a-new-burger" placeholder="">
        </div>
      </form>
      <a class="btn btn-primary btn-lg" id="submitBtn" href="" role="button">Add</a>
      <a class="btn btn-outline-danger btn-sm" id="resetBtn" href="" role="button">RESET</a>
    </div>
			{{body}}

    {{!-- <div class="burger-wrapper">
      <div class="burger-menu">
        <h3>Burger Menu</h3>
        <div class="burger-list"></div>
      </div>

      <div class="burger-devoured">
        <h3>Devoured Burgers</h3>
        <div class="burger-list-devoured"></div>
      </div>
    </div> --}}

  {{!-- <script src="./public/index.js"></script> --}}
	
	<script>
		window.onload = function() {
  renderStart();
};

$('#submitBtn').click(function(event){
  event.preventDefault();
  console.log("Submit Btn CLICKED")
  const newBurger = $('#burgerForm').val();
  console.log("[Burger to add:]", newBurger );
  if( newBurger ){
    addBurger();
  } else {
    alert("Please enter a burger name!")
  }
});

$('#resetBtn').click(function(event){
  event.preventDefault();
  console.log("--RESET button clicked--")
    if(confirm("Are you sure you want to reset ALL BURGERS?")){
      console.log("reset");
      reset();
    } else {
      return
    }
})

//* displaying with regular HTML
async function displayBurgerList(){
  $.get('/api/burgerlist')
  .then( result => {
    console.log("[BURGER LIST]", result)
    let card = '';
    result.forEach(element => {
      card += 
      `<div class="card">
        <div class="card-body">
        <h5 class="card-title">${element.burger_name}</h5>
        <a href="" onclick="devourBurger(event)" class="btn btn-primary btn-sm devourBtn" data-burgerID="${element.id}">Devour</a>
        </div>
      </div>`
    })
    $('.burger-list').html(card)
  })
}

async function displayBurgerHandlebars(){
  console.log("[handlebars call]");
  $.get('/api/burgerlist')
  .then( result => {
    console.log("[burgerlist HB]", result)
  })
}


async function displayDevourList(){
  $.get('/api/burgerdevourlist')
  .then( result => {
    console.log("[DEVOUR LIST]", result)
    let card = '';
    result.forEach(element => {
      card +=
      `<div class="card">
        <div class="card-body">
        <h5 class="card-title">${element.burger_name}</h5>
        <a href="" class="btn btn-primary btn-sm" data-burgerID="${element.id}" style="display:none">Devour</a>
        </div>
      </div>`
    })
    $('.burger-list-devoured').html(card)  
  })
}

async function addBurger(){
  let data = { 
    burger_name: $('#burgerForm').val(),
    devoured: false
  };
  console.log("adding burger: ", data)
  const result = await $.post('/api/addburger', data)
  console.log(result);
  $('#burgerForm').val('');
  // displayBurgerList();
}

async function devourBurger(){
  event.preventDefault();
  let burgerID = event.target.dataset.burgerid;
  let data = {
    id: burgerID
  }
  console.log("burger devour button clicked")
  console.log("[Burger ID]", burgerID)
  console.log("[Data]", data)

  const result = await $.post('/api/devour', data)
  console.log("[Devour Burger]", result)
  displayBurgerList();          
  displayDevourList();
}

async function reset(){
  let deleteData = {}
  let result = await $.ajax({
    url:'/api/reset',
    type:'DELETE',
    data:deleteData});
  console.log("[SERVER - resetFunction]")
  displayBurgerList();
  displayDevourList();
}

async function renderStart(){
  //add functions for on page load
  console.log("PAGE LOADED ---- START");
  //displayBurgerList();
  // displayDevourList();
  // displayBurgerHandlebars()
};





	</script>

	
</body>
</html>