{{!-- {{#each burgers}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.burger_name}}</h5>
        <a href="#" class="btn btn-primary btn-sm">Devour</a>
      </div>
    </div>
{{/each}} --}}

{{!-- <div>
  {{#each burgers}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.burger_name}}</h5>
        <a href="#" class="btn btn-primary btn-sm">Devour</a>
      </div>
    </div>
  {{/each}}
</div> --}}

<ul>
  {{#each burgers}}
        <li>{{this.burger_name}}</li> 
  {{/each}}
</ul>


